#bindings-display .tables-set{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border-bottom: var(--border);
}

#bindings-display .tables-set header{
    z-index: 1;
    opacity: 0.8;
    border: 0;
    margin-bottom: 20px;
}

#bindings-display .table-block{
    z-index: 1;
    opacity: 0.8;
    margin: 8px 10px;
}